openapi: 3.0.3
info:
  title: UKG Pro HCM Accruals Personnel Actions API
  description: The UKG Pro HCM API provides programmatic access to human capital management data including employees, personnel actions, benefits, payroll, performance, and organizational structure. Supports REST-based web services with Basic Authentication and API key authorization, enabling integrations with HR systems, payroll processors, benefits administrators, and analytics platforms. Base URL for US tenants is https://service.ultipro.com.
  version: '2.0'
  contact:
    name: UKG Developer Support
    url: https://developer.ukg.com
  termsOfService: https://www.ukg.com/legal/terms
  x-generated-from: documentation
servers:
- url: https://service.ultipro.com
  description: UKG Pro HCM API (US)
- url: https://service.ultipro.ca
  description: UKG Pro HCM API (Canada)
security:
- basicAuth: []
tags:
- name: Personnel Actions
  description: Job changes, status changes, and employment actions
paths:
  /personnel/v2/change-requests:
    post:
      operationId: createPersonnelChangeRequest
      summary: UKG Pro HCM Create Personnel Change Request
      description: Submit a personnel action change request such as a job change, status change, or compensation adjustment.
      tags:
      - Personnel Actions
      requestBody:
        required: true
        description: Personnel change request details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonnelChangeRequest'
            examples:
              createPersonnelChangeRequestRequestExample:
                summary: Default createPersonnelChangeRequest request
                x-microcks-default: true
                value:
                  employeeId: example-value
                  actionType: Job Change
                  effectiveDate: '2026-01-15'
                  reason: example-value
                  newDepartmentId: example-value
                  newJobTitle: example-value
                  newPayRate: 1.0
      responses:
        '201':
          description: Change request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonnelChangeResponse'
              examples:
                createPersonnelChangeRequest201Example:
                  summary: Default createPersonnelChangeRequest 201 response
                  x-microcks-default: true
                  value:
                    requestId: example-value
                    status: Pending
                    submittedAt: '2026-01-15T10:30:00Z'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PersonnelChangeResponse:
      type: object
      description: Response from a personnel change request submission
      properties:
        requestId:
          type: string
          description: Change request identifier
          example: CHG-2026-00123
        status:
          type: string
          description: Processing status
          example: Pending
          enum:
          - Pending
          - Approved
          - Rejected
          - Completed
        submittedAt:
          type: string
          format: date-time
          description: Submission timestamp
          example: '2026-01-15T10:30:00Z'
    PersonnelChangeRequest:
      type: object
      description: Request for a personnel action change
      required:
      - employeeId
      - actionType
      - effectiveDate
      properties:
        employeeId:
          type: string
          description: Employee identifier
          example: EMP001
        actionType:
          type: string
          description: Type of personnel action
          example: Job Change
          enum:
          - Job Change
          - Pay Change
          - Status Change
          - Department Transfer
          - Termination
          - Leave of Absence
        effectiveDate:
          type: string
          format: date
          description: Effective date of the change
          example: '2026-06-01'
        reason:
          type: string
          description: Reason for the change
          example: Promotion
        newDepartmentId:
          type: string
          description: New department identifier (for transfers)
          example: EMP001
        newJobTitle:
          type: string
          description: New job title (for job changes)
          example: example-value
        newPayRate:
          type: number
          format: double
          description: New pay rate amount (for pay changes)
          example: 1.0
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication with service account credentials plus US-API-Key header
