openapi: 3.2.0
info:
  title: UKG Pro Workforce Management Accruals API
  description: The UKG Pro Workforce Management (WFM) API provides programmatic access to time and labor management data including punches, shifts, schedules, accruals, and attendance. The API supports workforce scheduling, timekeeping, and compliance workflows for hourly and salaried employees. Authentication uses OAuth 2.0 with tenant-specific API keys.
  version: '1.0'
  contact:
    name: UKG Developer Support
    url: https://developer.ukg.com
  termsOfService: https://www.ukg.com/legal/terms
  x-generated-from: documentation
servers:
- url: https://api.ultipro.com/workforce/v1
  description: UKG Pro WFM API
security:
- bearerAuth: []
tags:
- name: Accruals
  description: Accrual balances and transactions
paths:
  /v1/employees/{employeeId}/accruals:
    get:
      operationId: getEmployeeAccruals
      summary: UKG Pro WFM Get Employee Accruals
      description: Retrieve accrual balances for an employee including vacation, sick, and PTO.
      tags:
      - Accruals
      parameters:
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
        description: Employee identifier
        example: EMP001
      responses:
        '200':
          description: Accrual balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccrualBalance'
              examples:
                getEmployeeAccruals200Example:
                  summary: Default getEmployeeAccruals 200 response
                  x-microcks-default: true
                  value:
                  - accrualCodeId: example-value
                    accrualName: example-value
                    balance: 1.0
                    pendingBalance: 1.0
                    takingBalance: 1.0
                    asOfDate: '2026-01-15'
        '404':
          description: Employee not found
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AccrualBalance:
      type: object
      description: Employee accrual balance for a time-off policy
      properties:
        accrualCodeId:
          type: string
          description: Accrual code identifier
          example: EMP001
        accrualName:
          type: string
          description: Accrual policy name
          example: Vacation
        balance:
          type: number
          format: double
          description: Current available balance in hours
          example: 40.0
        pendingBalance:
          type: number
          format: double
          description: Pending approved requests
          example: 8.0
        takingBalance:
          type: number
          format: double
          description: Hours in approved future requests
          example: 1.0
        asOfDate:
          type: string
          format: date
          description: Balance as of this date
          example: '2026-01-15'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token with WFM API key header
